<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/select", {
        id: "verb-selection",
        full_width: true,
        label: "What was the user trying to do?",
        name: "verb",
        options: create_options_for_select_list(@presenter.verbs, @presenter.verb)
    } %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "govuk_publishing_components/components/select", {
        id: "adjective-selection",
        full_width: true,
        label: "About what?",
        name: "adjective",
        options: create_options_for_select_list(@presenter.adjectives, @presenter.adjective)
    } %>
  </div>
</div>
