@import "govuk_publishing_components/all_components";
@import "overwrites";
@import "pages";

a {
  color: #1D70B8;
}

.govuk-table__cell {
  word-break: break-all;
}

.trend-group, .table-group {
  margin: 20px 0 40px;
}

.trend-list {
  counter-reset: item;
  padding: 0;
}

.trend-list li {
  list-style-type: none;
  counter-increment: item;
  padding-left: 1rem;
}

.trend-list li:before {
  font-weight: bold;
  content: counter(item);
  padding-right: 1rem;
  text-align: right;
}

.statistic-total {
  color: #377E93;
  font-size: 36px;
  font-weight: bold;
}

.phrase-highlight {
  font-weight: bold;
}

.equal-width-table .govuk-table {
  outline: none !important;
}

.equal-width-table td {
  width: 50%;
}

.equal-width-table thead tr {
  border-bottom: 1px solid #626a6e;
}

.equal-width-table thead th {
  background-color: transparent !important;
  text-decoration: underline;
  font-weight: bold !important;
}

.equal-width-table tbody tr {
  border-bottom: 1px solid #626a6e;
}

.equal-width-table thead tr:hover, .equal-width-table tbody tr:hover {
  background-color: transparent !important;
}

.equal-width-table tbody tr:nth-child(even) {
  background-color: transparent !important;
}

.equal-width-table .govuk-table__header--active a {
  color: #1d70b8 !important;
}
