<%= render 'govuk_publishing_components/components/layout_for_admin',
  {
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    product_name: "User intent explorer",
    browser_title: yield(:browser_title).presence || yield(:title)
  } do %>

  <%= render "govuk_publishing_components/components/skip_link", {} %>

  <%= render "govuk_publishing_components/components/layout_header", {
    environment: GovukPublishingComponents::AppHelpers::Environment.current_acceptance_environment,
    product_name: "User intent explorer"
  }%>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
    </main>
  </div>

<% end %>
